// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     margin: 20px;
    
//   }
//   .em{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
//   .nm{
//     margin-top: 20px;
//     margin-bottom: 10px;
//   }
//   .ct{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
//   .ds{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
//   .dt{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
 h1{
   color: midnightblue;
   font-weight: bold;
 }
 .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 5px;
}
.example-full-width {
  width: 100%;

}
.em{
  padding-left: 10px;
}
.gn{
  padding-left: 10px;
}