// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     margin: 20px;  
//   }
// .login-for{
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }
//   .dialog-reactive{
//     width: 400px;
//     height: 600px;
//   }
//   .mat-dialog-content{
//     width: 350px;
//     height: 500px;
//   }

//   .em{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
//   .nm{
//     margin-top: 20px;
//     margin-bottom: 10px;
//   }
//   .ct{
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
 h1{
   color: midnightblue;
   font-weight: bold;
 }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 5px;
}
.example-full-width {
  width: 100%;

}
.em{
  padding-left: 10px;
}
.gn{
  padding-left: 10px;
}