<app-header></app-header>

<app-dialog></app-dialog>
<app-dialog-reactive></app-dialog-reactive>

<app-employee></app-employee>
<!-- <div>
    <table>
        <tr>
            <td>
                <mat-card class="example-card mat-elevation-z8">
                    <h1>Parent Component</h1>
                    <table>
                     <tr>
                         <td>
                             <h3>Send data to first child</h3>
                    <mat-form-field appearance="fill">
                    <input matInput type="text" [(ngModel)]="parentTxtOne">
                    </mat-form-field>
                </td>
                <td>
                    <h3>Send data to second child</h3>
                    <mat-form-field appearance="fill">
                    <input matInput type="text" [(ngModel)]="parentTxtTwo">
                    </mat-form-field>
                </td>
                </tr>
                </table>
                  
                    <p>Child  One Data is : {{childValueOne}}</p>
                    <p>Child Two Data is : {{childValueTwo}}</p>
                </mat-card>
            </td>
        </tr>
        <tr>
            <td>
                <app-child [parentValueOne]='parentTxtOne' (newEvent)='showChildDataOne($event)'></app-child>
            </td>
            <td>
                <app-child-two [parentValueTwo]='parentTxtTwo'(newEvent)='showChildDataTwo($event)'></app-child-two>
            </td>
        </tr>
    </table>
</div> -->